


/* lightbox container */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 60px;
  top: 60px;
  width: 90%;
  height: 1100px;
  overflow: hidden;
  background-color: #bbb;
  border-radius: 8px;
}

/* Lightbox content (image) */
.lightbox-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 960px;
  padding-top: 40px;
  padding-bottom: 40px;
  object-fit: contain;
  border-radius: 8px;
}

/* Caption text */
#caption {
  margin: 15px auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: var(--black);
  padding: 10px 0;
  height: 150px;
}

/* close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--black);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: var(--accentLight);
  text-decoration: none;
  cursor: pointer;
}

/* next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(217, 217, 217, 0.8);
  z-index: 1001;
}

/* position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}


/* on hover, add a black background color with a little more opacity */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* prevent background scroll while lightbox is open */
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  #mainContainer {
    opacity: .1;
  }
}
