 
<!--
  Author: Ed Moniz
  Date:   September 2026
  EdMonizPhotography Website

  Filename: awardsGalleryTemplate.html

  On this website most galleries are created dynamically, but there will be cases 
  that will require the definition of a html structed page that can be inserted into
  the articles secton of the gallery page. This is a ssmple of the PPOC Salon Gallery
  on this site.
-->


<h2>"Title"</h2>
<p>
   Descriptive paragraph
</p>
<div class="salonGalleryWrapper">
   <div class="contentItem">
      <figure>
         <img src=""
            alt="Mono Lake Sunset" data-full=""
            class="gallery-img" data-index="0">
         <figcaption>"Title"</figcaption>
         <div class="item-body">
            <p><strong>Awards:</strong></p>
            <ul>
               <li>List Awards for the image</li>
            </ul>
         </div>
      </figure>
   </div>

<!--    add additional content items as required -->